<div class="container-fluid p-1" id="about-us">
  <div class="card backgound-img">
    <div class="card-body">
      <div class="card-title">
        <h3 class="text-center">About Us</h3>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <img src="https://t3.ftcdn.net/jpg/06/32/05/46/360_F_632054676_Z7u4DCYbzFKyhpFBkde314Brl2zvay4a.webp" class="rounded w-75 image-hight" alt="about-us-image"/>
      </div>
      <div class="card-text pt-2">
        <h5 class="text-left justify-text justify-content-center mt-2">
          At BookFiezta, we believe in the power of stories to ignite imaginations and transform lives. Whether you're an avid reader or just starting your literary journey, our carefully curated collection of books offers something for everyone. From timeless classics to the latest bestsellers, we bring the world of books right to your fingertips.
          Explore, discover, and dive into your next great read today. With easy navigation, secure transactions, and fast delivery, BookFiezta is your trusted partner in the world of books. Join our community of book lovers and let the adventure begin!
        </h5>
      </div>
    </div>
  </div>
</div>
