<div class="container mt-5 pt-4 mx-auto my-auto">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header border-0 bg-white mt-2">
          <h3 class="text-center">System Registration</h3>
        </div>
        <div class="card-body">
          <form (ngSubmit)="register()">
            <!-- <div class="form-group">
              <label for="firstname" class="mb-2">First Name</label>
              <input type="text" class="form-control mb-2" id="firstname" placeholder="Enter First name" required>
            </div> -->
            <div class="form-group">
              <label for="name" class="mb-2">Name</label>
              <input type="text" class="form-control mb-2" id="name" placeholder="Enter Name" required [(ngModel)]="userName" name="userName">
            </div>
            <div class="form-group">
              <label for="email" class="mb-2">Email</label>
              <input type="text" class="form-control mb-2" id="email" placeholder="Enter Email" required [(ngModel)]="userEmail" name="userEmail">
            </div>
            <div class="form-group">
              <label for="password" class="mb-2">Password</label>
              <div class="password-container">
                <input [type]="passwordFieldType" class="form-control mb-2" id="password" placeholder="Enter password" required [(ngModel)]="userPassword" name="userPassword">
                <i class="fas" [ngClass]="passwordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePassword()"></i>
              </div>
            </div>
            <div class="form-group">
              <label for="confirm-password" class="mb-2">Confirm Password</label>
              <div class="password-container">
                <input [type]="confirmPasswordFieldType" class="form-control mb-2" id="confirm-password" placeholder="Confirm password" required [(ngModel)]="userConfirmPassword" name="userConfirmPassword">
                <i class="fas" [ngClass]="confirmPasswordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'" (click)="toggleConfirmPassword()"></i>
              </div>
            </div>
            <p class="text-center pt-2">Already Have An Account? <a href="/login" class="text-decoration-none">Login</a></p>
            <div class="d-flex align-items-center justify-content-center">
              <button type="submit" class="btn btn-primary w-20">
                <!-- Conditional Spinner or Text -->
                  @if(isLoading == true) {
                    <i class="fas fa-spinner fa-spin"></i>
                  } @else {
                    <span>Register</span>
                  }
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

