<div class="container-fluid p-1 mt-1" id="loggeduser-home">
  <div class="card backgound-img border-0">
    <div class="card-body">
      <div class="card-text pt-5">
        <h1 class="card-title text-center justify-content-center text-white mt-5 pt-5">Now You Have Logged Into BookFiezta!</h1>
        <h2 class="card-text text-center text-white mt-4">Enjoy yourself by refer our products. Please Send us your valuable feedback about us.</h2>
        <h3 class="card-text text-center text-white mt-4">Start Your Journey Now.</h3>
        <div class="d-flex justify-content-center mt-5 gap-3">
          <button class="btn btn-danger btn-lg"><a href="/home/#books" class="text-white text-decoration-none">View Our Products</a></button>
          <button class="btn btn-outline-danger me-3 btn-lg"><a href="/home/#feedback" class="text-white text-decoration-none">Send Your Feedback</a></button>
      </div>
      </div>
    </div>
  </div>
</div>

