.backgound-img {
  background-image: url(https://i.pinimg.com/1200x/78/53/59/785359fb8c8b19d6c021e8e8274ffee1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
}
