<div class="container-fluid p-1 mt-1" id="home">
  <div class="card backgound-img border-0">
    <div class="card-body border-0">
      <div class="card-text pt-5">
        <h1 class="card-title text-center justify-content-center text-white mt-5 pt-5">Welcome to BookFiezta!</h1>
        <h2 class="card-text text-center text-white mt-4">Enjoy Your Life By Seeking Books, Buting Books, Reading Books and Earn Benefits.</h2>
        <h3 class="card-text text-center text-white mt-4">Start Your Journey Today With Us.</h3>
        <div class="d-flex justify-content-center mt-5 gap-3">
          <button class="btn btn-danger btn-lg"><a href="#about-us" class="text-white text-decoration-none">About Us</a></button>
          <button class="btn btn-outline-danger me-3 btn-lg"><a href="#contact-us" class="text-white text-decoration-none">Contact Us</a></button>
      </div>
      </div>
    </div>
  </div>
</div>
