<div class="container mt-5 pt-5 mx-auto my-auto">
  <div class="row justify-content-center">
    <div class="col-md-5 mt-5">
      <div class="card mt-5">
        <div class="card-header border-0 bg-white mt-2">
          <h3 class="text-center">Reset Password</h3>
        </div>
        <div class="card-body">
          <form (ngSubmit)="resetPassword()">
            <div class="form-group">
              <label for="password" class="mb-2">New Password</label>
              <input type="password" class="form-control mb-2" id="password" placeholder="Enter New Password" required [(ngModel)]="userPassword" name="userPassword">
            </div>
            <div class="form-group">
              <label for="confirm-password" class="mb-2">Confirm New Password</label>
              <input type="password" class="form-control mb-3" id="confirm-password" placeholder="Confirm the entered password" required [(ngModel)]="userConfirmPassword" name="userConfirmPassword">
            </div>
            <div class="d-flex align-items-center justify-content-center mt-2">
              <button type="submit" class="btn btn-primary w-20">
                @if(isLoading == true) {
                  <i class="fas fa-spinner fa-spin"></i>
                } @else {
                  <span>Reset Password</span>
                }
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

