<div class="container-fluid vh-100 mt-2 mb-5">
  <div class="row gap-2 mx-auto d-flex align-items-center justify-content-center">
    <div class="col-md-7">
      <div class="card mt-2">
        <div class="card-header border-0 bg-white">
          <div class="card-title">
            <h3 class="text-center">Book Details</h3>
          </div>
        </div>
        <div class="card-body">
          @if(bookImage) {
            <img [src]="imageLink" alt="user-image" class="card-img-top w-15 d-flex justify-content-center align-items-center mx-auto rounded-bottom img-size"/>
          } @else {
            <img src="https://www.shareicon.net/data/128x128/2017/03/02/880210_images_512x512.png" alt="user-image" class="card-img-top w-15 d-flex justify-content-center align-items-center mx-auto rounded-bottom img-size"/>
          }
          <h5 class="text-center mt-3">Book Name: {{bookName}}</h5>
          <h5 class="text-center mt-3">Book Author: {{bookAuthor}}</h5>
          <h5 class="text-center mt-3">Book Publishers: {{bookPublishers}}</h5>
          <h5 class="text-center mt-3">Book Published Year: {{publishedYear}}</h5>
          <h5 class="text-center mt-3">Book Description:
            <h6 class="mt-1">"{{bookDescription}}"</h6>
          </h5>
          <h5 class="text-center mt-3">Book Genre: {{bookGenre}}</h5>
          <h5 class="text-center mt-3">Book Price: {{bookPrice}}</h5>
          <h5 class="text-center mt-3">Sells: {{sells}}</h5>
          <h5 class="text-center mt-3">Ratings: {{ratings}}</h5>
          <div class="justify-content-center d-flex gap-3">
          @if(viewedBook == null || viewedBook == "" || viewedBook == undefined) {
            <button class="btn btn-primary w-25 mt-2 d-flex justify-content-center align-items-center" (click)="addToCart()" disabled>Add to Cart</button>
            <button class="btn btn-secondary text-white w-25 mt-2 d-flex justify-content-center align-items-center" (click)="rateBook(bookName)" disabled>Rate Book</button>
            <button class="btn btn-info text-white w-30 mt-2 d-flex justify-content-center align-items-center" (click)="addReview(bookName)" disabled>Add a Review</button>
            <button class="btn btn-danger w-30 mt-2 d-flex justify-content-center align-items-center" (click)="backToHome()" disabled>Back to Home</button>
          } @else {
            <button class="btn btn-primary w-25 mt-2 d-flex justify-content-center align-items-center" (click)="addToCart()">Add to Cart</button>
            <button class="btn btn-secondary text-white w-25 mt-2 d-flex justify-content-center align-items-center" (click)="rateBook(bookName)">Rate Book</button>
            <button class="btn btn-info text-white w-30 mt-2 d-flex justify-content-center align-items-center" (click)="addReview(bookName)">Add a Review</button>
            <button class="btn btn-danger w-30 mt-2 d-flex justify-content-center align-items-center" (click)="backToHome()">Back to Home</button>
          }
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header border-0 bg-white">
          <h3 class="text-center">Reviews</h3>
        </div>
        <div class="card-body">
          @if(reviews.length > 0) {
            <div class="card mb-2 border-0 rounded-bottom" *ngFor="let review of reviews; let i = index; trackBy: trackByFn">
              <div class="card-header">
                <div class="row">
                  <div class="col-5 text-start">
                    <h6>{{review.userName}}</h6>
                  </div>
                  <div class="col-7 text-end">
                    <h6>at {{review.reviewAddedDate}}</h6>
                  </div>
                </div>
                <div class="card-body border-0 rounded-bottom">
                  <textarea type="review-message" class="form-control mb-1" id="review-message" disabled>{{review.reviewBody}}</textarea>
                </div>
              </div>
            </div>
          } @else {
            <h5 class="text-center">No Reviews Found</h5>
          }
        </div>
      </div>
    </div>
  </div>
</div>

@if(reviewButtonClicked == true) {
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="card mb-3 w-30">
      <div class="card-header border-0">
        <h5 class="text-center">Add a Review</h5>
      </div>
      <div class="card-body">
        <div class="form-group">
          <textarea type="review-message" class="form-control mb-1" id="review-message" placeholder="Enter Review" required [(ngModel)]="reviewMessage" name="reviewMessage"></textarea>
        </div>
      </div>
      <div class="justify-content-center d-flex">
        <button class="btn btn-primary w-20 mx-auto mb-2 d-flex justify-content-center align-items-center" (click)="saveReview()">Save</button>
        <button class="btn btn-danger w-20 mx-auto mb-2 d-flex justify-content-center align-items-center" (click)="cancelReview()">Cancel</button>
      </div>

    </div>
  </div>
}


