.backgound-img {
  background-image: url(https://www.orielpartners.co.uk/storage/app/uploads/public/603/f67/f94/603f67f94d325948140422.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
}
