<div class="container-fluid p-1" id="books">
  <div class="card backgound-img border-0">
    <div class="card-body">
      <div class="card-title">
        <h3 class="text-center">Books</h3>
      </div>
      <div class="card-title pt-2">
        <h4>All Books</h4>
      </div>
      <div class="d-flex justify-content-between align-items-center gap-5">
        <!-- Left: Search Bar -->
        <div class="input-group mb-3 w-25 ms-5">
          <input type="text" class="form-control" placeholder="Search Books" aria-label="Search Books" aria-describedby="basic-addon2" [(ngModel)]="searchInput" (input)="ngOnInit()">
          <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
        </div>

        <!-- Right: Button -->
        <button class="btn btn-primary me-5" (click)="addNewBook()">Add A New Book</button>
      </div>
      <div class="row">
        @if(booksFound == true) {
          <div class="col-md-2 mb-2" *ngFor="let book of books; let i = index; trackBy: trackByFn">
            <div class="card cursor-pointer border-0">
              @if(book.image.name == null) {
                <img src="https://www.shareicon.net/data/128x128/2017/03/02/880210_images_512x512.png" class="card-img-top img-size w-100" alt="book Image">
              } @else {
                <img [src]="'http://localhost:8000/uploads/' + book.image.name" class="card-img-top img-size w-100" alt="book Image">
              }
              <div class="card-body">
                <h5 class="card-title text-center m-0">{{book.name}}</h5>
                <p class="card-text text-center m-0">{{book.auther}}</p>
                <p class="card-text text-center m-0">{{book.publishers}}</p>
                <p class="card-text text-center m-0">{{book.genre}}</p>
                <p class="card-text text-center m-0">{{book.price}}</p>
                <div class="text-center mt-2">
                  <button class="btn btn-primary align-items-center justify-content-center" (click)="viewBook(book.name)">View</button>
                </div>
              </div>
            </div>
          </div>
        } @else {
          <span class="text-center">Oops! No Books Found</span>
        }
      </div>
    </div>
  </div>
</div>


